.application-header{
  border-bottom: 2px solid cornflowerblue;
  margin-top:10px;
  margin-top:10px;
  font-size: 2rem;
  font-weight: 500;
}
a>p{
  font-size: 1rem;
  font-weight: 500;
}

.size{
  size:20;
  width: 30%;
}